services:
  www:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - "./src:/var/www/html"
    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root1234
      MARIADB_DATABASE: regis_training
      MARIADB_USER: tomeiei
      MARIADB_PASSWORD: HuyHui098
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: tomeiei
      PMA_PASSWORD: HuyHui098
    depends_on:
      - db

volumes:
  db_data:
